# colcon
/build/
/install/
/log/

# clangd
.cache/clangd/

# webots
*.wbproj

# dataset: ignore large datasets
aruco-detection/dataset
aruco-detection/images
aruco-detection/calib_images
aruco-detection/build
