<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="gps" type="GPS">
            <ros>
                <topicName>/gps</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="camera" type="Camera">
            <ros>
                <topicName>/cam</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="hi_world::RobotDriver" />
    </webots>
</robot>
